<?xml version="1.0"?>
<robot name="x500_depth">

  <link name="base_link"/>

  <link name="camera_link"/>

  <link name="camera_link_optical"/>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="0.12 0.03 0.242" rpy="0 0 0"/>
  </joint>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
    <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

</robot>